{% extends "base.html" %}
{% block content %}

<style>
    .demo-list-three {
        width: 650px;
    }

    .mdl-grid.center-items {
        justify-content: center;
    }
</style>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
        <form action="/query" method="get">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="param" name="param" type="text">
                <label class="mdl-textfield__label" for="param">UID/标记ID</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                    type='submit'>
                <i class="material-icons md2px">search</i>
            </button>
        </form>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% if marks != [] %}
<div class="mdl-grid center-items">
    {% for mark in marks %}
    <ul class="demo-list-three mdl-list">
        <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">visibility</i>
          <span>{{ mark.uid }}</span>
          <span class="mdl-list__item-text-body">{{ mark.reason }}</span>
        </span>
            <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action" href="/mark/{{ mark.markUUID }}"><i class="material-icons">arrow_right_alt</i></a>
        </span>
        </li>
    </ul>
    {% endfor %}
</div>
{% endif %}
{% endblock %}